
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  // font-family: serif;
  margin-bottom: 3px;
}

.row {
  margin: 0 auto;
}

.header,
.footer {
  background-color: #f3f3f3;
  width: 100%;
  height: 50px;
}

.header {
  margin-bottom: 15px;
}

.header a {
  display: inline-block;
  padding-left: 10px;
  text-decoration: none;
  color: #000;
  margin-top: 15px;
}

.header a:hover {
  color: #f3f3f3;
}

.header ::after {
  clear: both;
}

#logo {
  margin: 0 20px;
  height: 210px;
  width: 350px;
  background-image: url("../images/DC_Logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  position: relative;
}

.welcome {
  width: 75%;
  padding: 15px;
  margin-top: 15px;
  color: #282c34;
  margin-bottom: 15px;
}

.slogans {
  margin-top: 15px;
}

#critic-slogan {
  height: 200px;
  background-color: #ff3388;
  color: #fff;
  padding: 15px;
  border: 5px solid white;
}

#designer-slogan {
  height: 200px;
  background-color: teal;
  color: #fff;
  padding: 15px;
  border: 5px solid white;
}

.slogan p,
.slogan h3 {
  text-align: center;
  vertical-align: middle;
}

#user-signup {
  margin-top: 15px;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 50px;
  background-color: #fff;
  margin-bottom: 15px;
}

#user-login {
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 50px;
  display: block;
  margin-bottom: 15px;
}

#email,
#login-email {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;

}

#user-password,
#login-user-password {
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  padding: 10px;
  display: inline-block;

}

#cancel-button {
  border-radius: 4px;
  background-color: #b6b6b6;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#sign-up-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #ff3388;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

#header-login {
  display: inline-block;
  float: right;
  margin-right: 10px;
  height: 50px;
}

#log-in-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #028482;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

#feedback-button {
  margin-right: 5px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #f0ad4e;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  float: right;
  display: inline-block;
}

#submit-text {
  border-radius: 4px;
  background-color: #f0ad4e;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  display: inline-block;
}

#submit-survey-button,
#admin-results-button,
#submit-url {
  border-radius: 4px;
  background-color: #f0ad4e;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  margin-left: 0;
  display: inline-block;
}

#log-in-header {
  margin-right: 0;
  border-radius: 4px;
  background-color: #028482;
  color: #fff;
  border: none;
  height: 50px;
  padding: 15px 20px;
  // margin-left: 5px;
  display: inline-block;
  float: right;
  // vertical-align: middle;
}

.footer {
  padding: 15px;
}

.footer p {
  color: #fff;
  text-align: center;
}

.editor {
  width: 100%;
  margin: 0 auto;
}

iframe {
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid gray;
  min-height: 650px;
  // margin-right: 5%;
  // margin-left: 5%;
}

#admin-results {
  margin-bottom: 15px;
}

.invisible {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0 auto;
}

.visible {
  position: absolute;
}
