
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  // font-family: serif;
  margin-bottom: 3px;
}

.row {
  margin: 0 auto;
}

.header,
.footer {
  background-color: #f3f3f3;
  height: 50px;
}

.header {
  margin-bottom: 15px;
}

.full-width-header {
  position: absolute;
  height: 50px;
  background-color: #f3f3f3;
  width: 100%;
}

.header a,
#new-project-redirect a {
  line-height: 50px;
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
  text-decoration: none;
  color: #000;
}

.header a:hover {
  color: #ff3388;
}

.header ::after {
  clear: both;
}

.header-logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-image: url("../images/DC_Favicon_1.png");
  background-position: center;
  background-size: contain;
}

#logo {
  margin: 0 20px 0 0;
  height: 210px;
  // width: 35%;
  background-image: url("../images/DC_Logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  // position: relative;
}

.welcome {
  // width: 60%;
  padding: 15px;
  margin-top: 15px;
  color: #282c34;
  margin-bottom: 15px;
}

.welcome h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

.welcome p {
  font-family: 'Garamond', serif;
  font-size: 18px;
}

#home-header-login {
  display: inline-block;
  // width: 5%;
  float: right;
  // margin-right: 10px;
  height: 50px;
}

#header-login {
  display: inline-block;
  // width: 5%;
  float: right;
  // margin-right: 10px;
  height: 50px;
}

.slogans {
  margin-top: 15px;
  min-height: 200px;
}

#critic-slogan {
  min-height: 200px;
  background-color: #ff3388;
  color: #fff;
  padding: 15px;
}

#critic-slogan p,
#designer-slogan p {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  margin-bottom: 15px;
}

#designer-slogan {
  min-height: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px;
}

.welcome-admin {
  margin-bottom: 15px;
}

#welcome-admin-photo {
  margin-top: 15px;
  height: 200px;
  background-image: url("../images/picjumbo.com_HNCK8984.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#new-project-photo {
  margin-top: 15px;
  height: 200px;
  background-image: url("../images/HNCK8458.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#admin-signup-left {
  min-height: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px;
}

.box-heading {
  padding-top: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 36px;
}

#critic-signup-left {
  min-height: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px;
}

#admin-signup {
  margin-top: 15px;
  padding-top: 25px;
  text-align: center;
}

#designer-projects {
  min-height: 200px;
  background-color: #ff3388;
  color: #fff;
  padding: 15px;
  overflow: scroll;
}

#critic-projects {
  min-height: 200px;
  background-color: #fff;
  padding: 15px;
  overflow: scroll;
}

#past-projects-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #ff3388;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

#designer-new {
  min-height: 200px;
  background-color: #000;
  color: #fff;
  padding: 15px;
}

#start-fresh-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #000;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

#my-project-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #ff3388;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

.project-list-div {
  color: #000;
  //height: 50px;
  // display: inline-block;
}

#designer-project-list {

}

.project-list-div button {
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f3f3f3;
  border: none;
  color: #000;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
}

.project-options {
  margin-bottom: 15px;
  background-color: #000;
}

.slogan p,
.slogan h3 {
  text-align: center;
  vertical-align: middle;
}

#user-signup {
  margin-top: 15px;
  padding-top: 25px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
}

#critic-project-list {
  margin-bottom: 15px;
  background-image: url("../images/P1000499.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#user-login,
#admin-login {
  margin-top: 15px;
  padding-top: 25px;
  display: block;
}

#email,
#login-email {
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;

}

#user-password,
#login-user-password {
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  padding: 10px;
  display: inline-block;

}

#cancel-button {
  border-radius: 4px;
  background-color: #b6b6b6;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#sign-up-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #ff3388;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

#log-in-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: #000;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  display: inline-block;
}

#give-critiques {
  border-radius: 4px;
  background-color: #fff;
  color: #ff3388;
  min-height: 50px;
  padding: 15px 20px;
  border: none;
  box-shadow: none;
  display: inline-block;
}

#get-feedback {
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  min-height: 50px;
  padding: 15px 20px;
  border: none;
  box-shadow: none;
  display: inline-block;
}

.slogans a:hover {
  text-decoration: none;
  color: #000;
}

#feedback-button {
  margin-right: 5px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #ff3388;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  float: right;
  display: inline-block;
}

#submit-text {
  border-radius: 4px;
  background-color: #ff3388;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  display: inline-block;
}

#submit-survey-button,
#admin-results-button,
#submit-url {
  border-radius: 4px;
  background-color: #ff3388;
  border: none;
  color: #fff;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  margin-left: 0;
  display: inline-block;
}

#admin-display-link {
  min-height: 200px;
  background-color: #f3f3f3;
  color: #000;
  padding: 15px;
  margin-bottom: 15px;
}

#admin-display-link label {
  margin-top: 15px;
}

#admin-display-link input p {
  color: #000;
}

#log-in-header {
  margin-right: 10px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  border: none;
  height: 50px;
  padding: 0 20px;
  display: inline-block;
  float: right;
}

#log-out-header {
  margin-right: 10px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  border: none;
  height: 50px;
  padding: 0 20px;
  display: inline-block;
  float: right;
}

#welcome-image {
  height: 200px;
  background-image: url("../images/Pic_Office.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  padding: 15px;
  margin-bottom: 10px;
}

.footer p {
  color: #000;
  text-align: center;
}

.editor {
  width: 100%;
  margin: 0 auto;
}

iframe {
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid gray;
  min-height: 650px;
  // margin-right: 5%;
  // margin-left: 5%;
}

#admin-results {
  margin-bottom: 15px;
  background-color: #fff;
}

.btn-group button:active {
  background-color: #ff3388;
  color: #fff;
}

.survey-info button:focus {
  background-color: #ff3388;
  color: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  background-color: #ff3388;
  color: #fff;
}

.criticHeaderAndResponse {
  margin-bottom: 10px;
  border-bottom: 1px solid #ff3388;
}

.criticQuestionsAndAnswers,
.criticSummary {
  padding: 5px 10px;
  float: left;
}
.criticQuestion {
  padding-right: 8px;
}

.criticSummary.functionality0 {
  background-image: url("../images/DC_Emoji_Sad.png");
  height: 50px;
  width: 50px;
  background-position: center center;
  background-size: cover;
}
.criticSummary.functionality1 {
  background-image: url("../images/DC_Emoji_Happy.png");
  height: 50px;
  width: 50px;
  background-position: center center;
  background-size: cover;
}
.criticSummary.functionality2 {
  background-image: url("../images/DC_Emoji_Blah.png");
  height: 50px;
  width: 50px;
  background-position: center center;
  background-size: cover;
}
.criticSummary.functionality3 {
  background-image: url("../images/DC_Emoji_Happy.png");
  height: 50px;
  width: 50px;
  background-position: center center;
  background-size: cover;
}

#no-critiques {
  min-height: 200px;
  background-color: #000;
  padding: 15px;
}

#no-critiques p {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}

.invisible {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0 auto;
}

.visible {
  position: absolute;
}
